<mat-card>
  <mat-card-content>
    <article id="container">
      <div id="title">
        <h2 i18n>Pythia Demo Home</h2>
      </div>
      <div id="banner">
        <img src="assets/img/pythia-400.png" alt="Pythia" />
      </div>
      <div id="text">
        <p i18n>
          Welcome to the Pythia demo. This is a minimalist frontend to demo the
          main features of the Pythia search engine.
        </p>
      </div>
      <div id="stats">
        <pythia-stats></pythia-stats>
      </div>
    </article>
  </mat-card-content>
</mat-card>
