#container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title stats"
    "banner stats"
    "text stats";
  gap: 8px;
}
#title {
  grid-area: title;
  text-align: center;
  margin: 8px auto;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-bottom: 8px;
}
#text {
  grid-area: text;
  column-width: 800px;
}
#stats {
  grid-area: stats;
}
/* lt-md */
@media only screen and (max-width: 959px) {
  article#container {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "banner"
      "text"
      "stats";
  }
}
